node_modules/
RedFlagGreenLight-*.apk
android/app/build/
android/build/
android/.gradle/
android/local.properties
android/keystore.properties
android/app/release/
.gradle/
*.iml
.DS_Store
*.log
android/captures/
android/.idea/
.idea/
.vscode/
